
/* Your CSS Code here. */
img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-bottom: 10px;
        }
        .row {
            margin-bottom: 20px;
            text-align: center;
        }